table {
  border-collapse: collapse;
  color: #9e9eb1;
  display: table;
  width: 100%;
  box-sizing: border-box;
  table-layout: auto;
  font-size: 12px;
}

colgroup {
  display: table-column-group;
}

th {
  background-color: #282830;
  border-bottom: 1px solid #1c1c1f;
  font-weight: normal;
  height: 32px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
}

tr:hover {
  background-color: #282830;
}

td {
  box-sizing: border-box;
  display: table-cell;
  border-bottom: 1px solid #1c1c1f;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

td:hover {
  background-color: #282830;
}

.rank-champion-td {
  vertical-align: middle;
  cursor: pointer;
}

.name {
  color: #fff;
  font-weight: bold;
  padding-left: 8px;
}

.rank-champion-link {
  float: left;
}

.rank-champion-img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.opposite-champion-img {
  display: inline-block;
  width: 24px;
  border-radius: 50%;
  margin-left: 2px;
  vertical-align: middle;
}
